services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: prs
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pr_service:
    build: .
    ports:
      - "8080:8080"
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: 12345
      DB_NAME: prs
    depends_on:
      - postgres




volumes:
  pgdata: